In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from statsmodels.tools.eval_measures import mse, rmse
from sqlalchemy import create_engine
from sklearn.metrics import mean_absolute_error
import seaborn as sns
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import LassoCV
from sklearn.linear_model import ElasticNetCV

import warnings
warnings.filterwarnings('ignore')

nyc_df = pd.read_csv('nyc_census_tracts.csv')

In [2]:
nyc_df.head()

,CensusTract,County,Borough,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,36005000100,Bronx,Bronx,7703,7133,570,29.9,6.1,60.9,0.2,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,36005000200,Bronx,Bronx,5403,2659,2744,75.8,2.3,16.0,0.0,...,2.9,0.0,0.0,43.0,2308,80.8,16.2,2.9,0.0,7.7
2,36005000400,Bronx,Bronx,5915,2896,3019,62.7,3.6,30.7,0.0,...,1.4,0.5,2.1,45.0,2675,71.7,25.3,2.5,0.6,9.5
3,36005001600,Bronx,Bronx,5879,2558,3321,65.1,1.6,32.4,0.0,...,8.6,1.6,1.7,38.8,2120,75.0,21.3,3.8,0.0,8.7
4,36005001900,Bronx,Bronx,2591,1206,1385,55.4,9.0,29.0,0.0,...,3.0,2.4,6.2,45.4,1083,76.8,15.5,7.7,0.0,19.2

In [3]:
nyc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167 entries, 0 to 2166
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusTract      2167 non-null   int64
 1   County           2167 non-null   object
 2   Borough          2167 non-null   object
 3   TotalPop         2167 non-null   int64
 4   Men              2167 non-null   int64
 5   Women            2167 non-null   int64
 6   Hispanic         2128 non-null   float64
 7   White            2128 non-null   float64
 8   Black            2128 non-null   float64
 9   Native           2128 non-null   float64
 10  Asian            2128 non-null   float64
 11  Citizen          2167 non-null   int64
 12  Income           2101 non-null   float64
 13  IncomeErr        2101 non-null   float64
 14  IncomePerCap     2121 non-null   float64
 15  IncomePerCapErr  2121 non-null   float64
 16  Poverty          2125 non-null   float64
 17  ChildPoverty     2107 non-null   float64
 18  Professional     2124 non-null   float64
 19  Service          2124 non-null   float64
 20  Office           2124 non-null   float64
 21  Construction     2124 non-null   float64
 22  Production       2124 non-null   float64
 23  Drive            2124 non-null   float64
 24  Carpool          2124 non-null   float64
 25  Transit          2124 non-null   float64
 26  Walk             2124 non-null   float64
 27  OtherTransp      2124 non-null   float64
 28  WorkAtHome       2124 non-null   float64
 29  MeanCommute      2106 non-null   float64
 30  Employed         2167 non-null   int64
 31  PrivateWork      2124 non-null   float64
 32  PublicWork       2124 non-null   float64
 33  SelfEmployed     2124 non-null   float64
 34  FamilyWork       2124 non-null   float64
 35  Unemployment     2125 non-null   float64
dtypes: float64(28), int64(6), object(2)
memory usage: 609.6+ KB

In [4]:
nyc_df = nyc_df.dropna()

In [5]:
nyc_df.isnull().sum()

CensusTract        0
County             0
Borough            0
TotalPop           0
Men                0
Women              0
Hispanic           0
White              0
Black              0
Native             0
Asian              0
Citizen            0
Income             0
IncomeErr          0
IncomePerCap       0
IncomePerCapErr    0
Poverty            0
ChildPoverty       0
Professional       0
Service            0
Office             0
Construction       0
Production         0
Drive              0
Carpool            0
Transit            0
Walk               0
OtherTransp        0
WorkAtHome         0
MeanCommute        0
Employed           0
PrivateWork        0
PublicWork         0
SelfEmployed       0
FamilyWork         0
Unemployment       0
dtype: int64

In [6]:
nyc_df = nyc_df.drop(columns = ['IncomePerCapErr','IncomeErr'])

In [7]:
# Convert boroughs to dummies
nyc_df = pd.get_dummies(nyc_df)
nyc_df.head()

,CensusTract,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Citizen,...,County_Bronx,County_Kings,County_New York,County_Queens,County_Richmond,Borough_Bronx,Borough_Brooklyn,Borough_Manhattan,Borough_Queens,Borough_Staten Island
1,36005000200,5403,2659,2744,75.8,2.3,16.0,0.0,4.2,3639,...,1,0,0,0,0,1,0,0,0,0
2,36005000400,5915,2896,3019,62.7,3.6,30.7,0.0,0.3,4100,...,1,0,0,0,0,1,0,0,0,0
3,36005001600,5879,2558,3321,65.1,1.6,32.4,0.0,0.0,3536,...,1,0,0,0,0,1,0,0,0,0
4,36005001900,2591,1206,1385,55.4,9.0,29.0,0.0,2.1,1557,...,1,0,0,0,0,1,0,0,0,0
5,36005002000,8516,3301,5215,61.1,1.6,31.1,0.3,3.3,5436,...,1,0,0,0,0,1,0,0,0,0

In [8]:
nyc_df['Pov_Unemploy'] = nyc_df['Poverty'] * nyc_df['Unemployment']

In [9]:
#Test and Training Split
import statsmodels.api as sm
X = nyc_df[['Pov_Unemploy','Professional','White','SelfEmployed','Service','Borough_Queens','Production']]
Y = nyc_df['Income']
# We need to manually add a constant
# in statsmodels' sm
X = sm.add_constant(X)
#split the data into test and train sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 465)

In [10]:
# Let's try a Random Forest model.
from sklearn.ensemble import RandomForestRegressor

estimator = RandomForestRegressor()

param_grid = { 'max_depth':range(3,7),'n_estimators':[100,200,300,400,500],
                'bootstrap':[True,False]}

forest_grid = GridSearchCV(estimator, param_grid, cv=5, scoring = 'neg_mean_squared_error',verbose=0,n_jobs=-1)
forest_grid.fit(X_train, y_train)
y_pred = forest_grid.predict(X_test)

from sklearn import metrics

print('Mean Absolute Error of the prediction:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Income in Dataset:', np.mean(nyc_df['Income']))
print('The Random Forest Regressor is predicting the median household income at {}%'.format(100*(1 - (metrics.mean_absolute_error(y_test, y_pred))/np.mean(nyc_df['Income']))))
print('Root Mean Squared Error of the prediction:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
Forest_RMSE = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
print(RandomForestRegressor.score)

Mean Absolute Error of the prediction: 9821.005011470133
Mean Income in Dataset: 59135.96372315036
The Random Forest Regressor is predicting the median household income at 83.39250027707685%
Root Mean Squared Error of the prediction: 13664.630730804749
<function RegressorMixin.score at 0x191acd06a8>

In [11]:
# Try the MLP Model on the Data.

# Import the model.
from sklearn.neural_network import MLPRegressor
# Establish and fit the model, with a single, 1000 perceptron layer.
mlp = MLPRegressor(hidden_layer_sizes=(1000),activation='relu')
mlp.fit(X_train, y_train)
y_predmlp = mlp.predict(X_test)

In [12]:
print(y_predmlp)

[ 47790.39999448  38108.24235593  30066.80448414  36613.69923323
  44586.94399741  33868.77500565  95216.53548932  39012.75410464
  72460.28203346  66256.68240514  48917.78275739  67804.57805448
  25245.57396388  69708.10191659  38595.81233152  42154.54134345
  76057.40437058  64543.8584054   25736.93061699  29557.38393835
  39007.32714304  79353.12145705  98708.3075872   48007.82650677
  46032.413134    30288.39664662  72138.53722536  46593.44084105
  35889.93600118  26255.05205972  33932.51385324  48503.76071113
  33765.25160993  27420.32102392  36168.55112728  50615.83468495
  26006.05376364  24970.14888757  38536.61290404  29141.37781903
  37745.98265699  63406.10325676  72858.68958767  33667.28115031
  95553.6914432   36058.73583543  49590.6745617   44495.87923696
  46259.6576444   21210.26437184  22990.67904908  20824.87319461
  82444.41124241  41072.52705364  56832.13587757 104995.68554514
  40771.53069546  58919.73831746  93465.9190949  103961.08659508
  79969.41629705 102154.75056271  78723.14156348  75717.18753168
  64590.89882342  58684.90274361  97291.65632184  34798.76479821
  35119.32566658  56535.37364519  51445.74640292  39757.28351503
  28509.36909296  32988.76744462  21690.66041246  74435.67202993
  58049.7131348   32701.24563688  50396.30701607  53069.19097709
  45981.35288848  51314.08891871  29388.50718315  40122.49886948
  30509.93093514  57350.77023295  57169.70816143  24691.37028683
  61421.2515059   58179.88329237  68916.37549723  37432.90315442
 106105.10027822  78890.93320623  61688.19256157  75480.07892659
 100690.6213715   36887.5497887   17333.44948686  60704.63849461
  33415.44750057  44499.06600102  79235.72860334  50611.92112897
  91418.73843761  63484.49016763  90134.29090901 108718.10883628
  56242.80789024  59727.78328598  42470.40651369  85006.96623278
  79745.83042672  26803.92648459  27181.94951308  41554.18517543
  58201.65802332  35975.52978295  76263.03010225  66090.66131014
  63019.36477741  85996.64679199  38890.9697609   35991.77064947
 113481.13575071  79531.662587    58953.13179563  35666.40953463
  72830.30715179  51745.21108776  82720.20805948  82203.91626942
 114766.81415464  30543.74350465  43508.6559108   86232.0029323
  49473.09127276  75320.85933409 102475.96504798  64539.33397919
  29491.79107773  61887.86056729  53356.65381123  53609.8175953
  81034.07140153  72621.50811357  78842.76460413  31619.59619756
  98080.69015412  51331.94525203  73645.66859286  41267.55100975
  40942.09357521  48474.4898579   78623.19283833  40925.42253141
  53658.41618216  50045.69204367  75460.49860896  90138.13159397
  74649.88510582  53771.60748796  42231.89603797  90992.59874292
  51775.86149163  45267.29050847  61267.29013195  53282.29707093
  90594.4964569   67567.79098401  64121.09483485  52896.68006137
  81372.43255948  30978.59267389  36450.56737304  27267.21383053
  57539.55333051  50839.7127306   67717.8575875   23532.99987246
  40406.54860634  76631.15853684  28246.96990747  57335.56355289
  67499.66987014  57755.42953819  72894.69963267  69253.23617385
  55092.37149234  50267.21379999  75013.06907085  89276.53463142
  76549.56171967  99421.03750726  54931.44858345  52290.34318309
  88625.97518809  47861.41034281  78970.84714741  46838.56239049
  51831.03939725  22790.8266194   46891.09759895  86217.67472403
  23536.13494345  49649.72361603  42007.49032806  63934.36579632
  19629.12121978  55111.03201608  54661.99924577  57795.94026542
  61830.92805236  67686.87987254  32412.88198788  29256.371803
  99355.85215968  34401.76881743  39029.35870742  43175.03651867
  79186.45906098  73774.29549238  34097.94543046  44565.48180096
  75216.03860962  30083.81107989  35518.3109127   70523.33400444
  56453.93028066  42729.4186257   41397.46535181  50208.43731187
  27309.46855203  96302.8737441   42565.53490443  38115.2700457
  28736.48758226  45056.75703248  41479.84381657  58803.63990679
  55368.45906022 102117.14685389  66671.06262935  85793.13336266
  86287.07288085  50494.7215118   48649.1822559   39574.89087805
  15326.50053996  67492.64169383  30799.24950866  35065.77970444
  48814.99610398  75634.94473032  79224.58658379  42734.66617912
  32635.94828023  74911.04708229  20301.31922819  50791.01964774
  46507.35476934  58567.81320846  61989.12587603  85237.81503334
  97372.60571697  79262.87648765  18821.98141494  75903.4754483
  63846.42697061  54700.31630969  35997.66490558  31060.93952263
  30292.9470208   38257.6386357   21621.15721838  61816.49219012
  52185.63646921  34361.42272034  32063.49954587  44912.79983145
  53040.22742287  52749.90577256  72612.20688672  39298.12090253
  27472.44244195  35980.05615187  95439.32888282  53018.23036016
  46108.69138432  77276.35183574  68993.00923487  83488.77258727
  43914.3665078   46452.56823126  76237.17628809  44267.84644221
  48800.21303805  32705.20278828  59226.0013321   45301.13468235
  63874.26942822  67128.74086828  61376.01018878  38033.28619934
  62693.93764368  60614.58847314  94107.01779642  43043.51123972
  56519.94998256  90880.96996471  28321.10384138  43658.13372952
  54982.81761685  28393.39498085  89572.85555056  97973.36511559
  75758.19275547  89358.39925671  52791.26174216 103111.05976436
  66690.90462882  45642.05587453  37537.84727043  90136.58832763
  58553.75142394  36722.97992589  65702.4817899   51653.44073603
  55022.10107728  31066.30145546  94738.07476283  48640.13017626
  29636.77749045  40929.97560609  42987.83134276  24732.7435262
  87988.04439932  45057.42354632  67277.37717336  26584.36230708
  70655.49016893  75714.13245372  31401.19311481  77288.80092714
  31530.02810995  51907.06780837  26516.61713393  79705.04338026
  22369.48581257  35905.27489655 107642.70861714  25562.52104873
  34368.14359938  92412.95489721  45891.69937043  98387.03396791
  31592.25965659  95112.48901241  41270.67415138  43127.09123289
  23530.9207167   76670.31536403  24625.14266919  28160.2077244
  53444.46598647  31820.36119244 103569.20352801  26551.88464318
  82098.48930902  68684.16323455  73997.70247671  26225.32331725
  29813.50225785  38826.49990169  37811.62938345  45134.3376266
  56725.01282128  48464.94321148  83676.1953789   39300.54337737
  47355.89626932  95748.53750389  24041.15242922  88335.62912385
  60133.48436886  52949.24188859  30341.7279824   38009.2995432
  49544.46806861  19783.30278113  84286.63508458  58563.75075544
  94914.8162304   43058.46282328  70258.46828537 106232.69279112
  35725.99507287  76408.03662504  59837.9274193   55065.35750769
  29862.28656296 102358.71055929  27674.21083327  46386.47059507
  38905.9263432   89381.13444804  53244.91213642  89361.24968499
 104757.03599918  89587.42389354  28239.23366695  56159.09178566
  62287.63509077  72868.69179814  54534.63315927  67157.02212597
  49631.96353864 103844.68191561  39687.47500686]

In [13]:
from sklearn.model_selection import cross_val_score
cross_val_score(mlp, X, Y, cv=4)

array([ 0.75033504, -0.39167018,  0.52341024,  0.09199341])